*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
     font-family: "Be vietnam pro", sans-serif; 
}


#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 2px solid black;
}





.logo-text{
       font-size: 2rem;
       padding: 1rem;
       font-weight: bolder;
       user-select: none;
}


.nav-items{
    display: flex;
    gap: 2rem;
    align-items: center;
    
}

.nav-items div{
    font-size: 1.5rem ;
    font-weight: 10px;
    padding :1rem;
    cursor: pointer;
    color: black;
    box-sizing: border-box;
    transition: border 0.3s , padding 0.3s;
}

a{
    text-decoration: none;
    padding: 15px;
    color: black;
}

.nav-items div:hover{
    /* color: white; */
    /* border: 4px solid black; */
    border-left: 4px solid black;
    border-right: 4px solid black;
     /* font-weight: bold; */
     /* transition: all 0.8s; */
    
    
}


.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding:0 1rem;
    padding-bottom: 8rem;
}

/* .faded-text{
    position: absolute;
    user-select: none;
    font-size: 3rem;
    color: rgb(244, 228, 228);
    font-weight: bold;
    bottom: -4rem;
    left: 1rem;
} */

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 1.5rem;
    color: rgb(104, 104, 237);
    font-weight: 500;
}
.role{
      font-weight: 800;
      color: rgb(236, 94, 94);
      font-size: 1.9;
}

.hero-section-sub-heading{
    font-size: 50px;
}

.hero-section-description{
      margin-top: .05rem;
      width: 60%;
      font-weight: 500;
      
      
}



.btn{
    height: 60px;
    width: 160px;
    color: white;
    position: relative;
    background-color: red;
    font-size: 20px;
    z-index: 1;
    font-weight: bold;
    cursor: pointer;
    
}

.btn::before{
    content: " ";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    
}

.btn:hover::before{
    transform: scaleX(1);
    transition:all 1s;
    
}

.hero-section-right{
    position: relative;
}
.absolute{
    position: absolute;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    
    animation: scaleimage 5s linear infinite;
    

}
.user-img img{
    z-index: -1;
    
}

@keyframes scaleimage {
    0%{
          filter: grayscale(0.5);
          transform: scale(1);
          filter: drop-shadow(3px 3px 1000px black);
    }

    50%{
          filter: grayscale(0);
          transform: scale(1.1);
          filter: drop-shadow(3px 3px 60px black);
        
          
          
    }
    100%{
         filter: grayscale(0.5);
         transform: scale(1);
         filter: drop-shadow(3px 3px 30px black);

    }
}

.icon-dots{
    z-index:1;
    bottom:1rem;
    right: 0;
    animation: dots 5s   infinite;
}
@keyframes dots {
     0%{
        transform: translateY(0px);
     }
     50%{
          transform: translateY(-60px);
     }
     100%{
        transform: translateY(0px);
     }
}

.icon-cube{
    z-index: 1;
    bottom: 1rem;
    animation: cube 5s infinite;
}
@keyframes cube {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}

.icon-circle{
    z-index: 1;
    right: 0;
    animation: circle 5s infinite;
}

@keyframes circle {
    0%{
        transform: scale(1);
        transform: translateX(0px) scale(1);
    }
    50%{
        transform: scale(1.2);
        transform: translateX(20px) scale(1.2);
    }
    100%{
        transform: scale(1);
        transform: translateX(0px) scale(1);
    }
}
.icon-zigzak{
    z-index: 1;
    animation: zigzak 5s infinite;
}
@keyframes zigzak {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



.project-section{
    width: 100%;
    background-color: rgb(232, 219, 219);
}

.page-header{
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
    padding-top: 2rem;
    margin-left: 34%;
    margin-right: 34%;
}

.page-header:hover{
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.project-container{
    width: 1200px;
    margin: 0 auto;
    padding: 3rem;


    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.project-card{
    width: 90%;
    height: 550px;
    background-image: url(./projects/adventure.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 40px rgb(82, 80, 80);
    filter:blur(100);

}

/* .project-card::after{
    content:" ";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #1f1f1f9a;

} */

.project-card::before{
    content:" ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin:left;
    transition:all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);

}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: red;
    padding: 2rem;
    margin-left: 40px;
    bottom: 20%;
    z-index: 5;
    gap: 2rem;
    transition: all 0.4s;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    
}

.project-card:hover  .project-content{
    transform: scale(1.1);
}

.product-card-right{
    right: 10rem;
}

.product-card-left{
    left: 10rem;
}

.project-skill-container{
    width: 60%;
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */

}

.project-skill{
    width: 60px;
}

.project-heading{
    font-weight: bolder;
    font-size: 4rem;
}

.project-subheading{
    font-weight: 800;
    font-size: 1.5rem;
}

#project2{
    background-image: url(./projects/card.png);
    background-size: cover;
}

#project3{
    background-image: url(./projects/amazon.png);
    background-size: cover;
}

.skill-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 0rem auto;
    gap :30px;
    background-color: whitesmoke;
    border-top: 2px soild black;
    
}
.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.skill-heading{
    color: red;
    font-weight: bolder;
    font-size: 4rem;
    border-bottom: 4px solid red;
}

.skill-subheading{
    font-weight: bold;
    font-size:1rem ;
}

.skill-subheading p{
    margin: 2rem;

}

.skill-container-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;

}
.right-img{
    width: 60px;
}

.right-img:hover{
    transform: scale(1.2);
    transition: 1s;
    
}

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 209, 209);
}



.contact-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 2rem;
    /* max-width: 500px; */
}

/* Form heading */
.contact-form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid red;
}

/* Styling form elements */
.contact-form label {
    display: block;
    margin-bottom: px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Send button styling */
.contact-form button {
    width: 20%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Send button hover effect */
.contact-form button:hover {
    background-color: black;
}






